<div class="row border-bottom" data-ng-controller="HeaderController as vm">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <!--form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form-->
        </div>
        <ul class="nav navbar-top-links navbar-right" data-ng-hide="vm.authentication.user">
            <!-- ui-route="/signup" -->
            <li>
                <!-- href="/#!/signup"-->
                <a ui-sref="authentication.signup">Registrarse</a>
            </li>
            <li class="divider-vertical"></li>
            <!-- ui-route="/signin" -->
            <li>
                <!-- href="/#!/signin"-->
                <a ui-sref="authentication.signin">Iniciar Sesión</a>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right" data-ng-show="vm.authentication.user">
            <li>
                <span class="m-r-sm text-muted welcome-message">Hospital de La Paz</span>
            </li>
            <li>
                <!-- href="/auth/signout" -->
                <a  href="/api/auth/signout" target="_self">
                    <i class="fa fa-sign-out"></i> Cerrar Sesión
                </a>
            </li>
        </ul>
        <!--ul class="nav navbar-top-links navbar-right" data-ng-show="authentication.user">

            <!li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/#!/settings/profile">Editar Perfil</a>
                    </li>
                    <li>
                        <a href="/#!/settings/accounts">Manage Social Accounts</a>
                    </li>
                    <li data-ng-show="authentication.user.provider === 'local'">
                        <a href="/#!/settings/password">Cambiar contraseña</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/auth/signout">Cerrar Sesión</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
