<section data-ng-controller="HomeController" data-ng-init="vm.initGraficas()">
    <div class="wrapper wrapper-content" data-ng-controller="HomeController">
        <div class="row">
            <div class="col-md-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">

                        <span class="label label-success pull-right">{{vm.month}}</span>
                        <h5>Pacientes Nuevos</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="text-center"><strong>23 </strong></h1>
                        <h1>10 <i class="fa fa-female" aria-hidden="true"></i>     13 <i class="fa fa-male" aria-hidden="true"></i></h1>
                        <div class="stat-percent font-bold text-success">2% <i class="fa fa-level-up"></i></div>
                        <small>Mes pasado</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">{{vm.year}}</span>
                        <h5>Pacientes Totales</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="text-center"><strong>987 </strong></h1>
                        <h1 >317 <i class="fa fa-female" aria-hidden="true"></i>    423 <i class="fa fa-male" aria-hidden="true"></i></h1>
                        
                        
                        <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                        <small>Diferencia respecto a {{vm.lastYear}}</small>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">Totales</span>
                        <h5>Historico Pacientes</h5>
                    </div>
                    <div class="ibox-content">


                        <h1 class="text-center"><strong>3300 </strong></h1>
                        <h1>1000 <i class="fa fa-female" aria-hidden="true"></i> 2300 <i class="fa fa-male" aria-hidden="true"></i></h1>                              
                        <div class="font-bold text-navy">54 años  <small>Media edad</small></div>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5>Ratio Inicio Positivo</h5>
                        <h2>65%</h2>
                        <div class="progress progress-mini">
                            <div style="width: 68%;" class="progress-bar"></div>
                        </div>

                        
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5>Ratio Inicio Negativo</h5>
                        <h2>45%</h2>
                        <div class="progress progress-mini">
                            <div style="width: 78%;" class="progress-bar"></div>
                        </div>

                        
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5>Ratio Seguimiento Positivo</h5>
                        <h2>14%</h2>
                        <div class="progress progress-mini">
                            <div style="width: 38%;" class="progress-bar progress-bar-danger"></div>
                        </div>

                        
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5>Ratio Seguimiento Negativo</h5>
                        <h2>20%</h2>
                        <div class="progress progress-mini">
                            <div style="width: 28%;" class="progress-bar progress-bar-danger"></div>
                        </div>

                        
                    </div>
                </div>
            </div>
            
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h2>Historico pacientes por media</h2>
                    </div>
                    <div class="ibox-content">
                        <nvd3 options="vm.options" data="vm.data"></nvd3>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h2>Historico de tamaño de nódulos</h2>
                    </div>
                    <div class="ibox-content">
                        <nvd3 options="vm.optionsScatterPlot" data="vm.dataScatterPlot"></nvd3>
                    </div>
                </div>

            </div>
           
        </div> 

        <!-- <div class="row animated fadeInRight">
            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Detalles</h5>
                    </div>
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            <img alt="image" class="img-responsive" src="img/profile_big.jpg">
                        </div>
                        <div class="ibox-content profile-content">
                            <h4><strong>Antonio Fernández</strong></h4>
                            <p><i class="fa fa-map-marker"></i> Hospital de La Paz</p>
                            <div class="user-button">
                                </br>
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Redactar Correo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Actividades</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div>
                            <div class="feed-activity-list">

                                <div class="feed-element">
                                    <a href="#" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/a1.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right text-navy">1m ago</small>
                                        Reunión con <strong>Departamento de Oncología</strong>. <br>
                                        <small class="text-muted">Hoy 4:21 pm - 12.06.2014</small>
                                    </div>
                                </div>

                                <div class="feed-element">
                                    <a href="#" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/profile.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right">5m ago</small>
                                        Cita con <strong>Monica Smith</strong> <br>
                                        <small class="text-muted">Hoy 5:60 pm - 12.06.2014</small>

                                    </div>
                                </div>

                                <div class="feed-element">
                                    <a href="#" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/a2.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right">2h ago</small>
                                        Tienes un mensaje nuevo de <strong>Monica Smith</strong> site. <br>
                                        <small class="text-muted">Hoy 2:10 pm - 12.06.2014</small>
                                        <div class="well">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                            Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                        </div>
                                        <div class="pull-right">
                                            <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Contestar</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="feed-element">
                                    <a href="#" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/a3.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right">2h ago</small>
                                        <strong>Nuevas Radiografías</strong><br>
                                        <small class="text-muted">Hace 2 días a las 8:30am</small>
                                        <div class="photos">
                                            <a><img alt="image" class="feed-photo" src="img/radio1.jpg"></a>
                                            <a><img alt="image" class="feed-photo" src="img/radio2.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Mostrar más</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>    
</section>
