<nav class="navbar-default navbar-static-side" role="navigation" data-ng-controller="NavigationController as vm">
    <div class="sidebar-collapse">
        <ul data-side-navigation class="nav metismenu" id="side-menu"  >
        <!--ng-if="vm.menu.shouldRender(vm.authentication.user);"--> 
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <!-- Picture of user -->
                    <!--<img alt="image" class="img-circle" src="img/profile_small.jpg"/>-->
                    <div class="dropdown profile-element" data-ng-show="vm.authentication.user"> <span>
                            <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Javier De Castro</strong>
                             </span> <span class="text-muted text-xs block">Director de Oncología <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li>
                                <a href="/#!/settings/profile">Editar Perfil</a>
                            </li>
                            <!--li>
                                <a href="/#!/settings/accounts">Manage Social Accounts</a>
                            </li-->
                            <li data-ng-show="vm.authentication.user.provider === 'local'">
                                <a href="/#!/settings/password">Cambiar contraseña</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/auth/signout">Cerrar Sesión</a>
                        </ul>
                    </div>
                </div>
                <div class="logo-element">
                    HDS
                </div>
            </li>
            <!-- ng-class="{active: $uiRoute}"  -->
            <li data-ui-sref-active="active">
                <!-- ui-sref="/#!/home" -->
                <a data-ui-sref="home">
                <i class="fa fa-hospital-o"></i> 
                <span class="nav-label">Inicio</span></a>
            </li>
            <li data-ng-repeat="item in vm.menu.items | orderBy: 'position'" 
                ng-if="item.shouldRender(vm.authentication.user);" 
                ng-switch="item.type" 
                ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }"  
                ui-sref-active="active" 
                class="{{item.class}}" 
                uib-dropdown="item.type === 'dropdown'">
                <a ng-switch-when="dropdown" 
                    class="dropdown-toggle" 
                    uib-dropdown-toggle role="button">
                    <i class="fa {{item.iconClass}}"></i>
                    <span class="nav-label">{{::item.title}}&nbsp</span>
                    <span class="caret"></span>
                </a>
                <ul ng-switch-when="dropdown" 
                    class="nav nav-second-level" 
                    ng-class="{in: ($uiRoute)}">
                    <li role="presentation" 
                        data-ng-repeat="subitem in item.items | orderBy: 'position'" 
                        ui-sref-active="active">
                        <a role="menuitem" 
                           tabindex="-1"  
                           ui-sref="{{subitem.state}}" 
                           data-ng-bind="subitem.title"></a>
                    </li>
                </ul>
                <a ng-switch-default 
                   ui-sref="{{item.state}}" 
                   class="dropdown-toggle" >
                    <i class="fa {{item.iconClass}}"></i>
                    <span class="nav-label">{{::item.title}}&nbsp</span>
                </a>
            </li>  
        </ul>
    </div>
</nav>
