<style>

  .nv-rangeAvg {fill: #0eb419 !important;
                fill-opacity: 1 !important;}
  .nv-rangeMax {fill: #d4001c !important;
                fill-opacity: 1 !important;}
  .nv-rangeMin {fill: #eec200 !important;
                fill-opacity: 1 !important;}
  .nv-measure {fill: #245dee !important;
                fill-opacity: 1 !important;}
  .nv-markerLine {fill: #000000 !important;
                  fill-opacity: 1 !important;}

</style>

<div ng-init="vm.initGraficas();" class="row">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5></h5>
		</div>
		<div class="ibox-content">
			<table  class="table table-striped">
        <th>Hematimetría</th>
        <th></th>
        <th></th>
				<tr>
					<td>Leucocitos</td>
					<td class="text-navy">5,83   x10e3/µ (3,90-10,20)</td>
					<td class="text-warning"><nvd3 options="vm.options" data="vm.data"></nvd3></td>
				</tr>
        <tr>
          <td>Hematies</td>
          <td class="text-navy">4,80   x10e6/µL (3,90-5,20)</td>
          <td class="text-warning"><nvd3 options="vm.options" data="vm.data"></nvd3></td>
        </tr>
        <tr>
          <td>Hemoglobina</td>
          <td class="text-navy">14,5   g/dL     (12,0-15,6)</td>
          <td class="text-warning"><nvd3 options="vm.options" data="vm.data"></nvd3></td>
        </tr>
        <tr>
          <td>Hematocrito</td>
          <td class="text-navy">45,5   %        (35,5-45,5)</td>
          <td class="text-warning"><nvd3 options="vm.options" data="vm.data"></nvd3></td>
        </tr>
        <tr>
          <td>V.C.M.</td>
          <td class="text-navy">94,7   fL       (80,0-99,0)</td>
          <td class="text-warning"><nvd3 options="vm.options" data="vm.data"></nvd3></td>
        </tr>
        <tr>
          <td>H.C.M.</td>
          <td class="text-navy">30,2   pg       (27,0-33,5)</td>
          <td class="text-warning"><nvd3 options="vm.options" data="vm.data"></nvd3></td>
        </tr>
        <tr>
          <td>C.H.C.M.</td>
          <td class="text-navy">31,9   g/dL     (31,5-36,0)</td>
          <td class="text-warning"><nvd3 options="vm.options" data="vm.data"></nvd3></td>
        </tr>
        <tr>
          <td>R.D.W.</td>
          <td class="text-navy">13,6   %        (11,5-14,7)</td>
          <td class="text-warning"><nvd3 options="vm.options" data="vm.data"></nvd3></td>
        </tr>
        <tr>
          <td>Plaquetas</td>
          <td class="text-navy">295   x10e3/µL  (150-370)</td>
          <td class="text-warning"><nvd3 options="vm.options" data="vm.data"></nvd3></td>
        </tr>
        <tr>
          <td>V.P.M.</td>
          <td class="text-navy">8,2   fL        (5,9-9,9)</td>
          <td class="text-warning"><nvd3 options="vm.options" data="vm.data"></nvd3></td>
        </tr>
			</table>
		</div>
	</div>

</div>

