<div class="row">

	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>Inspiracion / Espiración

			</h5>
		</div>
		<div class="ibox-content">
			<table  class="table table-striped"> 
				<tr> 
					<th></th> 
					<th>Inspiración</th> 
					<th>Espiración</th>

				</tr> 
				<tr> 
					<td>Volumen pulmonar total</td> 
					<td class="text-navy">1200 ml cúbicos</td> 
					<td class="text-warning">1100 ml cúbicos</td>
				</tr> 
				<tr> 
					<td>Izquierdo</td> 
					<td class="text-navy">400 ml cúbicos</td> 
					<td class="text-warning">700 ml cúbicos</td>
				</tr>
				<tr> 
					<td>Derecho</td> 
					<td class="text-navy">200 ml cúbicos</td> 
					<td class="text-warning">100 ml cúbicos</td>
				</tr>
				<tr></tr>

				<tr> 
					<td>Atenuación media pulmonar total</td> 
					<td class="text-navy">3 UH</td> 
					<td class="text-warning">3 UH</td>
				</tr> 
				<tr> 
					<td>Izquierdo</td> 
					<td class="text-navy">3 UH</td> 
					<td class="text-warning">6 UH</td>
				</tr>
				<tr> 
					<td>Derecho</td> 
					<td class="text-navy">5 UH</td> 
					<td class="text-warning">1 UH</td>
				</tr>

				<tr></tr>

				<tr>
					<td>LAV</td> 
					<td class="text-navy">15 % </td> 
					<td class="text-warning">25 % </td>
				</tr>
				<tr>
					<td>HAV</td> 
					<td class="text-navy">17 %</td> 
					<td class="text-warning">19 %</td>
				</tr>

				<tr></tr>

				<tr>
					<td>Percentil 15%</td> 
					<td class="text-navy">7 UH</td> 
					<td class="text-warning">3 UH</td>
				</tr>
				<tr>
					<td>Percentil 90%</td> 
					<td class="text-navy">2 UH</td> 
					<td class="text-warning">5 UH</td>
				</tr>

			</table>
		</div>
	</div>
	<div class="row">
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h5>Buya Index</h5>
                                <h2>4 UH</h2>
                                <div class="progress progress-mini">
                                    <div style="width: 68%;" class="progress-bar"></div>
                                </div>

                                <div class="m-t-sm small">última medición el 12/06/2016</div>
                            </div>
                        </div>
                    </div>

                    

                </div>
</div>

