<section>
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <form name="vm.form.pacienteForm" class="form-horizontal" ng-submit="vm.save(vm.form.pacienteForm.$valid)" novalidate>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title" style="text-align: center;">
                            <h5>
                                Datos paciente
                            </h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group" data-show-errors>
                                <div class="col-sm-3">
                                    <label class="control-label" for="nombre">Nombre</label>
                                    <div class="controls">
                                        <input type="text" 
                                            data-ng-model="vm.paciente.nombre" 
                                            id="nombre" 
                                            name="nombre"
                                            class="form-control"  
                                            required>
                                        <!--div ng-messages="vm.form.pacienteForm.nombre.$error" ng-if="vm.form.pacienteForm.nombre.$dirty"  role="alert">
                                            <p class="help-block error-text" ng-message="required">Por favor, rellene el nombre del paciente.</p>
                                        </div-->
                                    </div>
                                </div>
                                <div class="col-sm-3 col-lg-offset-1">
                                    <label class="control-label" for="apellidos">Apellidos</label>
                                    <div class="controls">
                                        <input type="text" 
                                               data-ng-model="vm.paciente.apellidos" 
                                               id="apellidos" 
                                               name="apellidos" 
                                               class="form-control" 
                                               required>
                                        <!--div ng-messages="vm.form.pacienteForm.apellidos.$error" ng-if="vm.form.pacienteForm.apellidos.$dirty"  role="alert">
                                            <p class="help-block error-text" ng-message="required">Por favor, rellene el nombre del paciente.</p>
                                        </div-->
                                    </div>
                                </div>
                                <div class="col-sm-3 col-lg-offset-1">
                                    <label class="control-label" for="fechaNacimiento">Fecha de nacimiento</label>
                                    <div class="controls">
                                        <input type="Date" 
                                               data-ng-model="vm.paciente.fechaNacimiento" 
                                               id="fechaNacimiento" 
                                               name="fechaNacimiento" 
                                               class="form-control" 
                                               required>
                                        <!--div ng-messages="vm.form.pacienteForm.fechaNacimiento.$error" ng-if="vm.form.pacienteForm.fechaNacimiento.$dirty"  role="alert">
                                            <p class="help-block error-text" ng-message="required">Por favor, rellene el nombre del paciente.</p>
                                        </div-->
                                    </div>
                                </div>
                                <div data-ng-show="vm.error" class="text-danger">
                                    <strong data-ng-bind="vm.error"></strong>
                                </div>
                            </div>
                            <div class="form-group" data-show-errors>
                                <div class="col-sm-3" >
                                    <label class="control-label" for="sexo">Sexo</label>
                                    <div class="controls">
                                        <input id="sexo"
                                            name="sexo"
                                            type="radio"
                                            ng-model="vm.paciente.sexo"
                                            value="H"
                                            required>
                                        <strong>Hombre</strong>
                                        <input id="sexo"
                                            name="sexo"
                                            type="radio"
                                            ng-model="vm.paciente.sexo"
                                            value="M"
                                            required>
                                        <strong>Mujer</strong>
                                        <!--div ng-messages="vm.form.pacienteForm.sexo.$error" ng-if="vm.form.pacienteForm.sexo.$dirty"  role="alert">
                                            <p class="help-block error-text" ng-message="required">Por favor, rellene el nombre del paciente.</p>
                                        </div-->
                                        <!--input type="text" data-ng-model="vm.paciente.sexo" id="sexo" class="form-control"  required-->
                                    </div>
                                </div>
                                <div class="col-sm-3 col-sm-offset-1">
                                    <label class="control-label" for="altura">Altura</label>
                                    <div class="controls">
                                        <input type="Number" 
                                               data-ng-model="vm.paciente.altura" 
                                               id="altura" 
                                               name="altura" 
                                               class="form-control" 
                                               required>
                                        <!--div ng-messages="vm.form.pacienteForm.altura.$error" ng-if="vm.form.pacienteForm.altura.$dirty"  role="alert">
                                            <p class="help-block error-text" ng-message="required">Por favor, rellene el nombre del paciente.</p>
                                        </div-->
                                    </div>
                                </div>
                                <div class="col-sm-3 col-sm-offset-1">
                                    <label class="control-label" for="peso">Peso</label>
                                    <div class="controls">
                                        <input type="Number" 
                                               data-ng-model="vm.paciente.peso" 
                                               id="peso" 
                                               name="peso" 
                                               class="form-control" 
                                               required>
                                        <!--div ng-messages="vm.form.pacienteForm.peso.$error" ng-if="vm.form.pacienteForm.peso.$dirty"  role="alert">
                                            <p class="help-block error-text" ng-message="required">Por favor, rellene el nombre del paciente.</p>
                                        </div-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" data-show-errors>
                                <div class="col-sm-3" >
                                    <label class="control-label" for="fumador">Fumador</label>
                                    <div class="controls">
                                        <input id="fumador"
                                            name="fumador"
                                            type="radio"
                                            ng-model="vm.paciente.fumador"
                                            ng-value="true"
                                            required />
                                        <strong>Si</strong>
                                        <input id="fumador"
                                            name="fumador"
                                            type="radio"
                                            ng-model="vm.paciente.fumador"
                                            ng-value="false"
                                            required />
                                        <strong>No</strong>
                                    </div>
                                    <div ng-show="vm.paciente.fumador">
                                        <label class="control-label" for="numeroPaquetes">Nº paquetes</label>
                                        <div class="controls">
                                            <input type="number" 
                                                   data-ng-model="vm.paciente.numeroPaquetes" 
                                                   id="numeroPaquetes" 
                                                   name="numeroPaquetes" 
                                                   class="form-control"  
                                                   ng-required="vm.paciente.fumador == 'S'">
                                            <!--div ng-messages="vm.form.pacienteForm.numeroPaquetes.$error" ng-if="vm.form.pacienteForm.numeroPaquetes.$dirty"  role="alert">
                                                <p class="help-block error-text" ng-message="required">Por favor, rellene el nombre del paciente.</p>
                                            </div-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-sm-offset-1">
                                    <label class="control-label" for="colesterol">Colesterol</label>
                                    <div class="controls">
                                        <input type="text" 
                                               data-ng-model="vm.paciente.colesterol" 
                                               id="colesterol" 
                                               name="colesterol" 
                                               class="form-control" 
                                               required>
                                        <!--div ng-messages="vm.form.pacienteForm.colesterol.$error" ng-if="vm.form.pacienteForm.colesterol.$dirty"  role="alert">
                                            <p class="help-block error-text" ng-message="required">Por favor, rellene el nombre del paciente.</p>
                                        </div-->
                                    </div>
                                </div>
                                <div class="col-sm-3 col-sm-offset-1">
                                    <label class="control-label" for="hemoglobina">Hemoglobina</label>
                                    <div class="controls">
                                        <input type="text" 
                                               data-ng-model="vm.paciente.hemoglobina" 
                                               id="hemoglobina" 
                                               name="hemoglobina" 
                                               class="form-control" 
                                               required>
                                        <!--div ng-messages="vm.form.pacienteForm.hemoglobina.$error" ng-if="vm.form.pacienteForm.hemoglobina.$dirty"  role="alert">
                                            <p class="help-block error-text" ng-message="required">Por favor, rellene el nombre del paciente.</p>
                                        </div-->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-11">
                                    <input type="submit" class="pull-right btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
