<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Prueba funcional</h3>
</div>
<form name="vm.form.pruebasFuncionales" 
    class="form-horizontal" 
    ng-submit="vm.save( vm.form.pruebasFuncionales.$valid )" 
    novalidate>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group" data-show-errors>
                    <div class="col-sm-5">
                        <label class="control-label" for="nombre">FEV ( ml % )</label>
                        <div class="controls">
                            <input type="number" 
                                data-ng-model="vm.pruebaFuncional.resource.contained[0].valueQuantity.value" 
                                id="nombre" 
                                name="nombre"
                                class="form-control"  
                                required>
                            <!--div ng-messages="vm.form.pacienteForm.nombre.$error" ng-if="vm.form.pacienteForm.nombre.$dirty"  role="alert">
                                <p class="help-block error-text" ng-message="required">Por favor, rellene el nombre del paciente.</p>
                            </div-->
                        </div>
                    </div>
                    
                    <div class="col-sm-5 col-lg-offset-1">
                        <label class="control-label" for="nombre">FVC ( ml % )</label>
                        <div class="controls">
                            <input type="number" 
                                data-ng-model="vm.pruebaFuncional.resource.contained[1].valueQuantity.value" 
                                id="nombre" 
                                name="nombre"
                                class="form-control"  
                                required>
                            <!--div ng-messages="vm.form.pacienteForm.nombre.$error" ng-if="vm.form.pacienteForm.nombre.$dirty"  role="alert">
                                <p class="help-block error-text" ng-message="required">Por favor, rellene el nombre del paciente.</p>
                            </div-->
                        </div>
                    </div>
                    <div data-ng-show="vm.error" class="text-danger">
                        <strong data-ng-bind="vm.error"></strong>
                    </div>
                </div>
                <div class="form-group" data-show-errors>
                    <div class="col-sm-5">
                        <label class="control-label" for="nombre">FEV1/VC ( valor absoluto )</label>
                        <div class="controls">
                            <input type="number" 
                                data-ng-model="vm.pruebaFuncional.resource.contained[2].valueQuantity.value" 
                                id="nombre" 
                                name="nombre"
                                class="form-control"  
                                required>
                            <!--div ng-messages="vm.form.pacienteForm.nombre.$error" ng-if="vm.form.pacienteForm.nombre.$dirty"  role="alert">
                                <p class="help-block error-text" ng-message="required">Por favor, rellene el nombre del paciente.</p>
                            </div-->
                        </div>
                    </div>
                    <div class="col-sm-5 col-lg-offset-1">
                        <label class="control-label" for="apellidos">DLco ( ml % )</label>
                        <div class="controls">
                            <input type="number" 
                                   data-ng-model="vm.pruebaFuncional.resource.contained[3].valueQuantity.value" 
                                   id="apellidos" 
                                   name="apellidos" 
                                   class="form-control" 
                                   required>
                            <!--div ng-messages="vm.form.pacienteForm.apellidos.$error" ng-if="vm.form.pacienteForm.apellidos.$dirty"  role="alert">
                                <p class="help-block error-text" ng-message="required">Por favor, rellene el nombre del paciente.</p>
                            </div-->
                        </div>
                    </div>
                    <div data-ng-show="vm.error" class="text-danger">
                        <strong data-ng-bind="vm.error"></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.cancel()">Cancelar</button>
        <input type="submit" class="btn btn-primary">
    </div>
</form>

