<div class="row" data-ng-init="vm.initGraficas()">
    <div class="col-lg-12">            
        <div class="ibox">
            <div class="ibox-title" style="text-align: center;">
                <h5>Datos paciente

                </h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-4">

                        <div class="profile-image text-center">
                            <i class="fa fa-user fa-5x" style="color: #1689CE;"/>
                        </div>
                        <div>
                            <div>
                                <h2 class="no-margins">
                                    {{vm.paciente.resource.name[0].given[0]}} {{paciente.resource.name[0].family[0]}}
                                </h2>
                                <h4>Paciente de pulmón</h4>
                                <small>
                                    Breve resumen del paciente.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <p>Nombre: <b>{{vm.paciente.resource.name[0].given[0]}}</b></p>
                        <p>Apellidos: <b>{{vm.paciente.resource.name[0].family[0]}}</b></p>
                        <p>Fecha de nacimiento: <b>{{vm.paciente.resource.birthDate }}</b></p>
                        <p>Sexo: 
                            <span ng-if="vm.paciente.resource.gender == 'male'">Hombre</span>
                            <span ng-if="vm.paciente.resource.gender == 'female'">Mujer</span>
                        </p>
                        <!--p>Hemoglobina: <b>{{vm.paciente.hemoglobina}}</b></p-->

                    </div>
                    <div class="col-lg-4">

                        <p>Fumador: 
                            <span ng-if="vm.paciente.fumador"><b>Si</b></span> 
                            <span ng-if="!vm.paciente.fumador"><b>No</b></span> 
                        </p>
                        <p ng-show="vm.paciente.fumador">Nº paquetes: <b>{{vm.paciente.numeroPaquetes}}</b></p>
                        <p>Peso: <b>{{vm.paciente.peso | number : 2}} kg</b></p>
                        <p>Altura: <b>{{vm.paciente.altura/100 | number : 2}} m</b></p>
                        <p>Colesterol: <b>{{vm.paciente.colesterol}}</b></p>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                    <h3>Nota</h3>

                <p class="small">
                    Vigilar especialmente nódulo 3 del pulmón derecho.
                </p>

                <p class="small font-bold">
                    <span><i class="fa fa-circle text-navy"></i>Ok</span>
                    </p>

            </div>
        </div>
        <div id="vertical-timeline" class="vertical-container light-timeline no-margins">
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg">
                    <i class="fa fa-plus"></i>
                </div>

                <div class="vertical-timeline-content">
                    <h2>Primera consulta</h2>
                    <p>Llegada al hospital por dolor en el pecho
                    </p>

                        <span style="float: right;" class="vertical-date">
                            <small>Fecha: 10/07/2014</small>
                        </span>
                    <a href="#" class="btn btn-sm btn-primary"> Mas información</a>
                </div>
            </div>

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon blue-bg">
                    <i class="fa fa-hand-o-up"></i>
                </div>

                <div class="vertical-timeline-content">
                    <h2>Cita</h2>
                    <p>Petición de cita para pruebas del paciente para el dia 20/07/2014.</p>

                        <span style="float: right;" class="vertical-date">
                            <small>Fecha: 15/07/2014</small>
                        </span>
                    <a href="#" class="btn btn-sm btn-primary"> Mas información</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Evolución Nódulos

                </h5>
            </div>
            <div class="ibox-content">
                <div>
                    <canvas id="line" class="chart chart-line" 
                            data-chart-data="vm.lineData.data"
                            data-chart-labels="vm.lineData.labels" 
                            data-chart-series="vm.lineData.series" 
                            data-chart-options="vm.lineOptions"
                            data-chart-dataset-override="datasetOverride" 
                            data-chart-click="onClick">
                    </canvas>
                </div>
            </div>
        </div>
        <!--div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Enfisemas</h5>

            </div>
            <div class="ibox-content">
                <div class="text-center">
                    <canvas id="barChart" height="140"></canvas>
                </div>
            </div>
        </div-->

        <div class="ibox">
            <div class="ibox-content">
                <h3>Nueva nota</h3>

                <p class="small">
                    Nueva nota sobre el paciente
                </p>

                <div class="form-group">
                    <label>Asunto</label>
                    <input type="email" class="form-control" placeholder="Asunto del mensaje">
                </div>
                <div class="form-group">
                    <label>Mensaje</label>
                    <textarea class="form-control" placeholder="Tu mensaje" rows="3"></textarea>
                </div>
                <button class="btn btn-primary btn-block">Enviar</button>

            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Pacientes similares</h5>
            </div>
            <div class="contact-box" style="margin-bottom:0px;">
                <div class="col-sm-4">
                    <div class="text-center">
                        <div>
                            <i class="fa fa-user fa-3x" style="color: #1689CE;"/>
                        </div>
                        <div class="m-t-xs font-bold">Paciente de pulmón</div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h3><strong>Pedro Fernández</strong></h3>
                    <p><i class="fa fa-calendar"></i> Ult. visita: 22/08/2016 </p>
                    <p>
                        Tratado por la Doctora Álvarez
                    </p>
                    <a href="perfil_usuario.html" class="btn btn-sm btn-primary" style="display: block;">Ver perfíl</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="contact-box" style="margin-bottom:0px;">
                <div class="col-sm-4">
                    <div class="text-center">
                        <div>
                            <i class="fa fa-user fa-3x" style="color: #1689CE;"/>
                        </div>
                        <div class="m-t-xs font-bold">Paciente de pulmón</div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h3><strong>Monica Sanz</strong></h3>
                    <p><i class="fa fa-calendar"></i> Ult. visita: 10/04/2016 </p>
                    <p>
                        Tratado por el Doctor Rodríguez
                    </p>
                    <a href="perfil_usuario.html" class="btn btn-sm btn-primary" style="display: block;">Ver perfíl</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="contact-box" style="margin-bottom:0px;">
                <div class="col-sm-4">
                    <div class="text-center">
                        <div>
                            <i class="fa fa-user fa-3x" style="color: #1689CE;"/>
                        </div>
                        <div class="m-t-xs font-bold">Paciente de pulmón</div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h3><strong>Oscar Ruiz</strong></h3>
                    <p><i class="fa fa-calendar"></i> Ult. visita: 15/08/2015 </p>
                    <p>
                        Tratado por el Doctor Castro
                    </p>
                    <a href="perfil_usuario.html" class="btn btn-sm btn-primary" style="display: block;">Ver perfíl</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>            
</div>