<div class="row">
    <div class="col-lg-12">            
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="text-align: center;">
                <h1>
                    Enfisema
                    <span ng-if="vm.paciente.enfisema === 'G'"> Grave</span>
                    <span ng-if="vm.paciente.enfisema === 'M'"> Moderado</span>
                    <span ng-if="vm.paciente.enfisema === 'L'"> Leve</span>
                </h1>
            </div>
            <div class="ibox-content">
                <!--div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="" ng-if="vm.paciente.enfisema === 'G'">
                            <img src="img/paciente/enfisema/grave.png"
                                 class="m-t-xs img-responsive"alt="Enfisema Grave"/>
                        </div>
                        <div class="" ng-if="vm.paciente.enfisema === 'M'">
                            <img src="img/paciente/enfisema/moderado.png"
                                 class="m-t-xs img-responsive" alt="Enfisema Moderado"/>
                        </div>
                        <div class="" ng-if="vm.paciente.enfisema === 'L'">
                            <img src="img/paciente/enfisema/leve.png"
                                 class="m-t-xs img-responsive"alt="Enfisema Leve"/>
                        </div>
                    </div>
                </div-->
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        Controls:
                        <ul>
                            <li>Left click drag - window/level</li>
                            <li>Middle Mouse button drag - pan</li>
                            <li>Right click drag - zoom</li>
                            <li>Mouse wheel - scroll images</li>
                        </ul>

                        <button id="x256" class="btn">256x256</button>
                        <button id="x512" class="btn">512x512</button>
                        <button id="invert" class="btn">Toggle Invert</button>
                        <button id="interpolation" class="btn">Toggle Interpolation</button>
                        <button id="hflip" class="btn">Horizontal Flip</button>
                        <button id="vflip" class="btn">Vertical Flip</button>
                        <button id="rotate" class="btn">Rotate 90</button>

                        <div id="dicomImageWrapper" style="width:512px;height:512px;position:relative;color: white;"
                             class="cornerstone-enabled-image"
                             oncontextmenu="return false"
                             unselectable='on'
                             onselectstart='return false;'
                             onmousedown='return false;'>
                            <div id="dicomImage" oncontextmenu="return false"
                                 style="width:512px;height:512px;top:0px;left:0px; position:absolute">
                            </div>
                            <div id="topleft" style="position: absolute;top:0px; left:0px">
                                Patient Name
                            </div>
                            <div id="topright" style="position: absolute;top:0px; right:0px">
                                Render Time:
                            </div>
                            <div id="bottomright" style="position: absolute;bottom:0px; right:0px">
                                Zoom:
                            </div>
                            <div id="bottomleft" style="position: absolute;bottom:0px; left:0px">
                                WW/WC:
                            </div>

                        </div>
                        <div><span id="coords"></span></div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>