
<div class="row">
    <div class="col-lg-12">
        <form name="vm.form.pacienteFormFactores" 
              class="form-horizontal" 
              ng-submit="vm.save( vm.form.pacienteFormFactores.$valid )" 
              novalidate>
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="text-align: center;">
                    <h5>
                        Factores de riesgo
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="control-label col-lg-2" for="exposicionACancerigenosDiv">Exposición a cancerígenos</label>  
                        <div class="controls col-lg-1" id="exposicionACancerigenosDiv">
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" 
                                           name="exposicionACancerigenos" 
                                           class="onoffswitch-checkbox" 
                                           id="exposicionACancerigenos"
                                           ng-model="vm.questionnaireResponse.resource.group.question[0].answer[0].valueBoolean"
                                           ng-change="vm.cambioFactor( 'EC', vm.questionnaireResponse.resource.group.question[0].answer[0].valueBoolean )">
                                    <label class="onoffswitch-label" for="exposicionACancerigenos">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <label ng-show="vm.questionnaireResponse.resource.group.question[0].answer[0].valueBoolean"
                               class="col-lg-9 text-center">Materiales
                        </label> 
                    </div>
                    <div class="form-group" ng-if="vm.questionnaireResponse.resource.group.question[0].answer[0].valueBoolean">
                        <div class="controls col-lg-offset-3 col-lg-8">
                            <div class="form-group" ng-repeat="material in vm.questionnaireResponse.resource.group.question[1].answer track by $index">
                                
                                <div class="col-lg-11">
                                    <input type="text" 
                                       class="form-control" 
                                       placeholder="Material"
                                       name='material{{$index}}'
                                       id='material{{$index}}'
                                       ng-model='vm.questionnaireResponse.resource.group.question[1].answer[ $index ].valueString'
                                       required/> 
                                </div>
                                <div class="col-lg-1">
                                    <a class="btn btn-danger" 
                                       href="#" 
                                       aria-label="Quitar material cancerígeno"
                                       ng-click="vm.questionnaireResponse.resource.group.question[1].answer.splice( $index, 1 )">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1" >
                            <a class="btn btn-primary" 
                                href="#" 
                                aria-label="Añadir material cancerígeno"
                                ng-click="vm.questionnaireResponse.resource.group.question[1].answer.push({'valueString':''})">
                                 <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2" for="antecedentesPersonalesDiv">Antecedentes personales</label>  
                        <div class="controls col-lg-1" id="antecedentesPersonalesDiv">
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" 
                                           name="tieneAntecedentesPersonales" 
                                           class="onoffswitch-checkbox" 
                                           id="tieneAntecedentesPersonales"
                                           ng-model="vm.questionnaireResponse.resource.group.question[3].answer[0].valueBoolean"
                                           ng-change="vm.cambioFactor( 'AP', vm.questionnaireResponse.resource.group.question[3].answer[0].valueBoolean )">
                                    <label class="onoffswitch-label" for="tieneAntecedentesPersonales">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <label class="col-lg-9 text-center"
                               ng-show="vm.questionnaireResponse.resource.group.question[3].answer[0].valueBoolean">
                            Antecedentes
                        </label> 
                    </div>
                    <div class="form-group" ng-if="vm.questionnaireResponse.resource.group.question[3].answer[0].valueBoolean">
                        
                        <div class="controls col-lg-offset-3 col-lg-8">
                            <div class="form-group" ng-repeat="antecedente in vm.questionnaireResponse.resource.group.question[4].answer track by $index">
                                <div class="col-lg-11">
                                    <input type="text" 
                                       class="form-control" 
                                       placeholder="Antecedente personal"
                                       name='antecedente{{$index}}'
                                       id='antecedente{{$index}}'
                                       ng-model='vm.questionnaireResponse.resource.group.question[4].answer[ $index ].valueString'
                                       required/> 
                                </div>
                                <div class="col-lg-1">
                                    <a class="btn btn-danger" 
                                       href="#" 
                                       aria-label="Quitar antecedente personal"
                                       ng-click="vm.questionnaireResponse.resource.group.question[4].answer.splice( $index, 1 )">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1" >
                            <a class="btn btn-primary" 
                                href="#" 
                                aria-label="Añadir antecedente personales"
                                ng-click="vm.questionnaireResponse.resource.group.question[4].answer.push({valueString:''})">
                                 <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="text-align: center;">
                    <h5>
                        Antecedentes familiares
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="control-label col-lg-2" for="antecedentesFamiliaresDiv">Antecedentes familiares</label>
                        <div class="controls col-lg-1" id="antecedentesFamiliaresDiv">
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" 
                                           name="antecedentesFamiliares" 
                                           class="onoffswitch-checkbox" 
                                           id="antecedentesFamiliares"
                                           ng-model="vm.questionnaireResponse.resource.group.question[2].answer[0].valueBoolean"
                                           ng-change="vm.cambioFactor( 'AF', vm.questionnaireResponse.resource.group.question[2].answer[0].valueBoolean )">
                                    <label class="onoffswitch-label" for="antecedentesFamiliares">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <label ng-show="vm.questionnaireResponse.resource.group.question[2].answer[0].valueBoolean" 
                               class="col-lg-9 text-center">Antecedentes
                        </label> 
                    </div>
                    <div class="form-group" ng-if="vm.questionnaireResponse.resource.group.question[2].answer[0].valueBoolean">
                        
                        <div class="controls col-lg-offset-3 col-lg-8">
                            <div class="form-group" 
                                ng-if="vm.familyMemberHistories.length > 0"
                                ng-repeat="antecedente in vm.familyMemberHistories track by $index">
                                   <!--b>{{antecedente.familiar}}:</b> <span>{{antecedente.cancer}}</span-->
                               <div class="col-lg-5">
                                   <select ng-options="familiar as familiar for familiar in vm.familiares"
                                           ng-model="vm.familyMemberHistories[ $index ].resource.name"
                                           class="form-control" 
                                           name='familiar{{$index}}'
                                              id='familiar{{$index}}'
                                              required>
                                           <option value="">Seleccione familiar<option>
                                   </select>
                               </div>
                               <div class="controls col-lg-6">
                                   <input type="text" 
                                       class="form-control" 
                                       placeholder="Cancer"
                                       name='familiarCancer{{$index}}'
                                       id='familiarCancer{{$index}}'
                                       ng-model='vm.familyMemberHistories[ $index ].resource.condition[0].code.text'
                                       required/> 
                               </div>
                               <div class="col-lg-1">
                                   <a class="btn btn-danger" 
                                      href="#" 
                                      aria-label="Quitar antecedente familiar"
                                      ng-click="vm.familyMemberHistories.splice( $index, 1 )">
                                       <i class="fa fa-trash-o" aria-hidden="true"></i>
                                   </a>
                               </div>
                            </div>
                        </div>
                        <div class="col-lg-1" >
                            <a class="btn btn-primary" 
                                href="#" 
                                aria-label="Añadir antecedente familiar"
                                ng-click="vm.familyMemberHistories.push( vm.newFamilyMemberHistory() )">
                                 <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="text-align: center;">
                    <h5>
                        Tabaquismo
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="control-label col-lg-2" for="fumadorActivoDiv">Fumador activo</label>  
                        <div class="controls col-lg-1" id="fumadorActivoDiv">
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" 
                                           name="fumadorActivo" 
                                           class="onoffswitch-checkbox" 
                                           id="fumadorActivo"
                                           ng-model="vm.questionnaireResponse.resource.group.question[5].answer[0].valueBoolean"
                                           ng-change="vm.cambioFactor( 'FA', vm.questionnaireResponse.resource.group.question[5].answer[0].valueBoolean )">
                                    <label class="onoffswitch-label" for="fumadorActivo">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div> 
                        <label class="control-label col-lg-2" for="exfumadorDiv">Exfumador</label>  
                        <div class="controls col-lg-1" id="exfumadorDiv">
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" 
                                           name="exfumador" 
                                           class="onoffswitch-checkbox" 
                                           id="exfumador"
                                           ng-model="vm.questionnaireResponse.resource.group.question[6].answer[0].valueBoolean"
                                           ng-change="vm.cambioFactor( 'EF', vm.questionnaireResponse.resource.group.question[6].answer[0].valueBoolean )">
                                    <label class="onoffswitch-label" for="exfumador">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="controls col-lg-6" ng-if="vm.questionnaireResponse.resource.group.question[6].answer[0].valueBoolean == true">
                            <div class="form-group">
                                <label class="control-label col-lg-1">desde</label>  
                                <div class="col-lg-3">
                                    <input type="number" 
                                       class="form-control" 
                                       name='anosExFumador'
                                       id='anosExFumador'
                                       ng-model='vm.questionnaireResponse.resource.group.question[7].answer[0].valueInteger'
                                       required/> 
                                </div>
                                <label class="control-label col-lg-1">años</label>  
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="vm.questionnaireResponse.resource.group.question[6].answer[0].valueBoolean || 
                                                   vm.questionnaireResponse.resource.group.question[5].answer[0].valueBoolean">
                        <label class="control-label col-lg-2" for="cigDia">Nº Cig/día</label>  
                        <div class="col-lg-2">
                            <input type="number" 
                               class="form-control" 
                               name='cigDia'
                               id='cigDia'
                               ng-model='vm.questionnaireResponse.resource.group.question[8].answer[0].valueInteger'
                               required/> 
                        </div>
                        <label class="control-label col-lg-2" for="cigDia">Nº Paquetes/Año</label>  
                        <div class="col-lg-2">
                            <input type="number" 
                               class="form-control" 
                               name='paquetesAno'
                               id='paquetesAno'
                               ng-model='vm.questionnaireResponse.resource.group.question[9].answer[0].valueInteger'
                               required/> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="text-align: center;">
                    <h5>
                        Comorbilidad
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="trastornosEnfermedades">Trastornos/Enfermedades</label>  
                        <div class="col-lg-6">
                            <select chosen 
                                    multiple 
                                    id="trastornosEnfermedades" 
                                    name="trastornosEnfermedades"
                                    class="form-control"
                                    ng-model="vm.enfermedades">
                                <option value="AK">Hipertensión arterial</option>
                                <option value="AZ">Dislipemia</option>
                                <option value="AR">Demencia</option>
                                <option value="CA">Diabetes</option>
                                <option value="A5R">Demencia</option>
                                <option value="C6A">Diabetes</option>
                                <option value="A7R">Demencia</option>
                                <option value="C8A">Diabetes</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="submit" class="pull-right btn btn-primary">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

