<section>
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-8">
                <div class="ibox">
                    <div class="ibox-content">
                        <!--span class="text-muted small pull-right">Última modificación: <i class="fa fa-clock-o"></i>14:36 pm - 12.06.2015</span-->
                        <h2>Pacientes</h2>
                        <br>
                        <div class="input-group">
                            <input type="text" placeholder="Buscar Paciente" class="input form-control" data-ng-model="search.resource.name[0].given[0]">
                                <span class="input-group-btn">
                                        <span class="btn btn btn-primary"> <i class="fa fa-search"></i></span>
                                </span>
                        </div>
                        <div class="clients-list">
                            <ul class="nav nav-tabs">
                                <span class="pull-right small text-muted" data-ng-bind="paciente.resource.name[0].given[0]">{{vm.pacientes.length}} Pacientes</span>
                            </ul>
                            <div class="full-height-scroll">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <tbody>
                                        <tr data-ng-click="vm.seleccionarPaciente(paciente);" data-ng-repeat="paciente in vm.pacientes | filter: search" style="cursor: pointer">
                                            <td class="client-avatar">
                                                <!--img alt="image" src="img/profile_small.jpg"--> 
                                                <i class="fa fa-user fa-2x" style="color: #1689CE;"/>
                                            </td>
                                            <td>{{paciente.resource.name[0].given[0]}} {{paciente.resource.name[0].family[0]}}</td>
                                            <td>
                                                <small>Creado el <span data-ng-bind="paciente.resource.lastUpdated | date: 'dd.MM.yyyy HH:mm:ss'"></span>
                                                por <span data-ng-bind="paciente.user.displayName"></span></small>
                                            </td>
                                            <td class="client-status"><span class="label label-primary">Pulmón</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" ng-if="vm.pacienteSeleccionado">
                <div class="ibox ">
                    <div class="ibox-content">
                        <div class="tab-content">
                            <div id="contact-1" class="tab-pane active">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <span class="label label-primary">Pulmón</span>
                                    </div>
                                </div>
                                <div class="row m-b-lg">
                                    <div class="col-lg-12 text-center">
                                        <h2>{{vm.pacienteSeleccionado.resource.name[0].given[0]}} {{vm.pacienteSeleccionado.resource.name[0].family[0]}}</h2>
                                        <div class="m-b-sm">
                                            <!--img alt="image" class="img-circle" src="img/profile_small.jpg"
                                                 style="width: 62px"-->
                                            <i class="fa fa-user fa-5x" style="color: #1689CE;"/>
                                            </br></br>
                                            <a type="button" class="btn btn-primary btn-sm btn-block" ui-sref="pacientes.edit({ pacienteId: vm.pacienteSeleccionado.resource.identifier[0].value })"><i
                                                    class="fa fa-user"></i>&nbsp;&nbsp;Ver Perfil Completo
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="client-detail">
                                    <div class="full-height-scroll">
                                        <ul class="list-group clear-list">
                                            <li class="list-group-item fist-item">
                                                Fecha Nacimiento: {{vm.pacienteSeleccionado.resource.birthDate }}
                                            </li>
                                            <li class="list-group-item">
                                                Sexo: 
                                                <span ng-if="vm.pacienteSeleccionado.resource.gender == 'male'">Hombre</span>
                                                <span ng-if="vm.pacienteSeleccionado.resource.gender == 'female'">Mujer</span>
                                            </li>
                                            <!--li class="list-group-item">
                                                Altura: {{vm.pacienteSeleccionado.altura}}
                                            </li>
                                            <li class="list-group-item">
                                                Peso: {{vm.pacienteSeleccionado.peso}}
                                            </li>
                                            <li class="list-group-item">
                                                Fumador: {{vm.pacienteSeleccionado.fumador}}
                                            </li-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
