<div ng-init="vm.initGraficas();"class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Evolución Nódulos

                </h5>
            </div>
            <div class="ibox-content">
              <!--nvd3 options="vm.options" data="vm.data"></nvd3-->
                <div>
                    <canvas id="line" class="chart chart-line"
                            data-chart-data="vm.nodulesData.data"
                            data-chart-labels="vm.nodulesData.labels"
                            data-chart-series="vm.nodulesData.series"
                            data-chart-options="vm.nodulesOptions"
                            data-chart-colors="vm.nodulesColors"
                            data-chart-dataset-override="datasetOverride"
                            data-chart-click="onClick">
                    </canvas>
                </div>
                <div class="clients-list">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th>Id</th>
                                    <th>Tipo</th>
                                    <th>Lozalización</th>
                                    <th ng-repeat="prueba in vm.paciente.pruebas">
                                    {{prueba.fecha}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="nodulo in vm.paciente.pruebas[0].nodulos" ng-init="indexNodulos=$index">
                                    <td>
                                        {{$index+1}}
                                    </td>
                                    <td>
                                        {{nodulo.tipo}}
                                    </td>
                                    <td>
                                        <span ng-if="nodulo.localizacion == 'IM'">Izquierda Medio</span>
                                        <span ng-if="nodulo.localizacion == 'IB'">Izquierda Inferior</span>
                                        <span ng-if="nodulo.localizacion == 'DM'">Derecha Medio</span>
                                        <span ng-if="nodulo.localizacion == 'DB'">Derecha Inferior</span>
                                    </td>
                                    <td ng-repeat="prueba in vm.paciente.pruebas" ng-init="indexPruebas=$index">
                                        {{prueba.nodulos[indexNodulos].diametro}} mm
                                        <div ng-if="indexPruebas > 0 "
                                             class="stat-percent font-bold text-success"
                                             ng-class="{ 'text-warning': vm.calcularIncremento(indexPruebas, indexNodulos) > 20 ,
                                                         'text-danger': vm.calcularIncremento(indexPruebas, indexNodulos) > 50 }">
                                            <i class="fa fa-level-up"></i>
                                            {{ vm.calcularIncremento(indexPruebas, indexNodulos) | number : 0 }} %
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-show="vm.paciente.pruebas[0].nodulos.length == 0">
                                    <td colspan="5" class="text-center">No existen nódulos</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--div class="ibox float-e-margins">
            <div class="ibox-title" style="text-align: center;">
                <h5>
                    Nódulos
                </h5>
            </div>
            <div class="ibox-content">
                <div class="clients-list">

                    <ul class="nav nav-tabs">
                        <span class="pull-right small text-muted">
                            {{vm.pacientepruebas[0].nodulos.length}} Nódulos
                        </span>
                    </ul>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th>Prueba</th>
                                    <!--th>Tipo</th>
                                    <th>Lozalización</th>
                                    <th ng-repeat="nodulo in vm.paciente.pruebas[0].nodulos track by $index">
                                    Nódulo {{$index}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="prueba in vm.paciente.pruebas track by $index">
                                    <td>
                                        Fecha: {{prueba.fecha}}
                                    </td>
                                    <td ng-repeat="nodulo in prueba.nodulos">
                                        {{nodulo.diametro}} mm
                                    </td>
                                    <!--td>{{nodulo.tipoNodulo}}</td>
                                    <td >
                                        <span ng-if="nodulo.localizacion == 'IM'">Izquierda Medio</span>
                                        <span ng-if="nodulo.localizacion == 'IB'">Izquierda Inferior</span>
                                        <span ng-if="nodulo.localizacion == 'DM'">Derecha Medio</span>
                                        <span ng-if="nodulo.localizacion == 'DB'">Derecha Inferior</span>
                                    </td>
                                    <td>{{nodulo.diametro}}</td>
                                </tr>
                                <!--tr ng-show="vm.paciente.nodulos.length == 0">
                                    <td colspan="5" class="text-center">No existen nódulos</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div-->
        <div ng-if="mostrarNodulos" div class="row">
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="text-align: center;">
                        <h5>
                            Nódulos pulmón izquierdo
                        </h5>
                    </div>
                    <div class="pulmonIzq">
                        <div ui-tree="pulmonIzqT" class="partePulmon" style="border-top:none;">
                            <!--<ol ui-tree-nodes="" ng-model="vm.paciente.nodulos">
                                <li ng-repeat="nodulo in vm.paciente.nodulos" ui-tree-node>
                                    <div ui-tree-handle
                                         class="noduloInterior"
                                         ng-class="{'colorSolido': nodulo.tipoNodulo == 'solido',
                                                        'colorMixto': nodulo.tipoNodulo == 'mixto',
                                                        'colorVD': nodulo.tipoNodulo == 'VD'}">
                                    </div>
                                </li>
                            </ol>-->
                        </div>
                        <div ui-tree="opcionesArboles" class="partePulmon">
                            <ol ui-tree-nodes="" ng-model="listaIM" zona="IM">
                                <li ng-repeat="nodulo in listaIM" ui-tree-node class="elementoListaNodulos">
                                    <div ui-tree-handle
                                         class="nodulo noduloInterior"
                                         ng-class="{'colorSolido': nodulo.tipoNodulo == 'solido',
                                                        'colorMixto': nodulo.tipoNodulo == 'mixto',
                                                        'colorVD': nodulo.tipoNodulo == 'VD'}">
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <div ui-tree="opcionesArboles" class="partePulmon">
                            <ol ui-tree-nodes="" ng-model="listaIB" zona="IB">
                                <li ng-repeat="nodulo in listaIB" ui-tree-node class="elementoListaNodulos">
                                    <div ui-tree-handle
                                         class="nodulo noduloInterior"
                                         ng-class="{'colorSolido': nodulo.tipoNodulo == 'solido',
                                                        'colorMixto': nodulo.tipoNodulo == 'mixto',
                                                        'colorVD': nodulo.tipoNodulo == 'VD'}">
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="text-align: center;">
                        <h5>
                            Nódulos pulmón derecho
                        </h5>
                    </div>
                    <div class="pulmonDer">
    					<div ui-tree="pulmonDerT" class="partePulmon" style="border-top:none;">
                            <!--<ol ui-tree-nodes="" ng-model="vm.paciente.nodulos">
                                <li ng-repeat="nodulo in vm.paciente.nodulos" ui-tree-node>
                                    <div ui-tree-handle
                                         class="noduloInterior"
                                         ng-class="{'colorSolido': nodulo.tipoNodulo == 'solido',
                                                        'colorMixto': nodulo.tipoNodulo == 'mixto',
                                                        'colorVD': nodulo.tipoNodulo == 'VD'}">
                                    </div>
                                </li>
                            </ol>-->
                        </div>
                        <div ui-tree="opcionesArboles" class="partePulmon">
                            <ol ui-tree-nodes="" ng-model="listaDM" zona="DM">
                                <li ng-repeat="nodulo in listaDM" ui-tree-node class="elementoListaNodulos">
                                    <div ui-tree-handle
                                         class="nodulo noduloInterior"
                                         ng-class="{'colorSolido': nodulo.tipoNodulo == 'solido',
                                                        'colorMixto': nodulo.tipoNodulo == 'mixto',
                                                        'colorVD': nodulo.tipoNodulo == 'VD'}">
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <div ui-tree="opcionesArboles" class="partePulmon">
                            <ol ui-tree-nodes="" ng-model="listaDB" zona="DB">
                                <li ng-repeat="nodulo in listaDB" ui-tree-node class="elementoListaNodulos">
                                    <div ui-tree-handle
                                         class="nodulo noduloInterior"
                                         ng-class="{'colorSolido': nodulo.tipoNodulo == 'solido',
                                                        'colorMixto': nodulo.tipoNodulo == 'mixto',
                                                        'colorVD': nodulo.tipoNodulo == 'VD'}">
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="text-align: center;">
                        <h5>
                            Tipos de nódulos
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <div ui-tree="tiposDeNodulos">
                            <ol ui-tree-nodes="" ng-model="vm.nodulosVacios" zona="tiposDeNodulos">
                                <li ng-repeat="nodulo in vm.nodulosVacios" ui-tree-node style="margin-top: 10px;">
                                    <div ui-tree-handle >
                                        <div class="title text-center">
                                            {{nodulo.tipoNodulo}}
                                        </div>
                                        <div class="nodulo"
                                            ng-class="{'colorSolido': nodulo.tipoNodulo == 'solido',
                                                        'colorMixto': nodulo.tipoNodulo == 'mixto',
                                                        'colorVD': nodulo.tipoNodulo == 'VD'}">
                                        </div>
                                    </div>
                                    <!--<ol ui-tree-nodes="" ng-model="item.items">
                                        <li ng-repeat="subItem in item.items" ui-tree-node>
                                        <div ui-tree-handle>
                                        {{subItem.title}}
                                        </div>
                                        </li>
                                    </ol>-->
                                </li>
                            </ol>
                        </div>
    				</div>
    			</div>
            </div>
        </div>
    </div>
</div>
