<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    Pruebas funcionales
                </h5>
                <div class="ibox-tools">
                    <a class="btn btn-primary" 
                        href="#" 
                        aria-label="Añadir prueba"
                        ng-click="vm.openForm()">
                         <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <!--div class="ibox-content">
                <div>
                    <canvas id="line" class="chart chart-line"
                            data-chart-data="vm.nodulesData.data"
                            data-chart-labels="vm.nodulesData.labels"
                            data-chart-series="vm.nodulesData.series"
                            data-chart-options="vm.nodulesOptions"
                            data-chart-colors="vm.nodulesColors"
                            data-chart-dataset-override="datasetOverride"
                            data-chart-click="onClick">
                    </canvas>
                </div>
                <div class="clients-list">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th>Id</th>
                                    <th>Tipo</th>
                                    <th>Lozalización</th>
                                    <th ng-repeat="prueba in vm.paciente.pruebas">
                                    {{prueba.fecha}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="nodulo in vm.paciente.pruebas[0].nodulos" ng-init="indexNodulos=$index">
                                    <td>
                                        {{$index+1}}
                                    </td>
                                    <td>
                                        {{nodulo.tipo}}
                                    </td>
                                    <td>
                                        <span ng-if="nodulo.localizacion == 'IM'">Izquierda Medio</span>
                                        <span ng-if="nodulo.localizacion == 'IB'">Izquierda Inferior</span>
                                        <span ng-if="nodulo.localizacion == 'DM'">Derecha Medio</span>
                                        <span ng-if="nodulo.localizacion == 'DB'">Derecha Inferior</span>
                                    </td>
                                    <td ng-repeat="prueba in vm.paciente.pruebas" ng-init="indexPruebas=$index">
                                        {{prueba.nodulos[indexNodulos].diametro}} mm
                                        <div ng-if="indexPruebas > 0 "
                                             class="stat-percent font-bold text-success"
                                             ng-class="{ 'text-warning': vm.calcularIncremento(indexPruebas, indexNodulos) > 20 ,
                                                         'text-danger': vm.calcularIncremento(indexPruebas, indexNodulos) > 50 }">
                                            <i class="fa fa-level-up"></i>
                                            {{ vm.calcularIncremento(indexPruebas, indexNodulos) | number : 0 }} %
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-show="vm.paciente.pruebas[0].nodulos.length == 0">
                                    <td colspan="5" class="text-center">No existen nódulos</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div-->
            
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins ">
                    <div class="ibox-content">
                        <canvas id="line" class="chart chart-line"
                                data-chart-data="vm.FEVsData.data"
                                data-chart-labels="vm.FEVsData.labels"
                                data-chart-series="vm.FEVsData.series"
                                data-chart-options="vm.chartOptions"
                                data-chart-colors="vm.FEVsData.colors"
                                data-chart-dataset-override="datasetOverride"
                                data-chart-click="onClick">
                        </canvas>
                    </div>
                </div> 
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins ">
                    <div class="ibox-content">
                        <canvas id="line" class="chart chart-line"
                                data-chart-data="vm.FVCsData.data"
                                data-chart-labels="vm.FVCsData.labels"
                                data-chart-series="vm.FVCsData.series"
                                data-chart-options="vm.chartOptions"
                                data-chart-colors="vm.FVCsData.colors"
                                data-chart-dataset-override="datasetOverride"
                                data-chart-click="onClick">
                        </canvas>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins ">
                    <div class="ibox-content">
                        <canvas id="line" class="chart chart-line"
                                data-chart-data="vm.FEV1VCsData.data"
                                data-chart-labels="vm.FEV1VCsData.labels"
                                data-chart-series="vm.FEV1VCsData.series"
                                data-chart-options="vm.chartOptions"
                                data-chart-colors="vm.FEV1VCsData.colors"
                                data-chart-dataset-override="datasetOverride"
                                data-chart-click="onClick">
                        </canvas>
                    </div>
                </div> 
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins ">
                    <div class="ibox-content">
                        <canvas id="line" class="chart chart-line"
                                data-chart-data="vm.DLcosData.data"
                                data-chart-labels="vm.DLcosData.labels"
                                data-chart-series="vm.DLcosData.series"
                                data-chart-options="vm.chartOptions"
                                data-chart-colors="vm.DLcosData.colors"
                                data-chart-dataset-override="datasetOverride"
                                data-chart-click="onClick">
                        </canvas>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
