<section>
    <div class="row wrapper white-bg">
        <div class="col-lg-10">
            <h2>Paciente</h2>
            <div class="alert alert-danger" ng-show="vm.paciente.tiempoSiguienteCita == 0">Realizar biopsia</div>
            <div class="alert alert-warning" ng-show="vm.paciente.tiempoSiguienteCita != 0 && vm.paciente.tiempoSiguienteCita != undefined">Citar al paciente en {{vm.paciente.tiempoSiguienteCita}} meses</div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1" ng-click="vm.switchTabs( 'D' )"><!--i class="fa fa-user"></i--> Resumen</a></li>
                <li class=""><a data-toggle="tab" href="#tab-2" ng-click="vm.switchTabs( 'E' )"><!--i class="fa fa-flask"></i--> Enfisema</a></li>
                <li class=""><a data-toggle="tab" href="#tab-3" ng-click="vm.switchTabs( 'N' )"><!--i class="fa fa-flask"></i--> Nódulos</a></li>
                <li class="risk factors"><a data-toggle="tab" href="#tab-4" ng-click="vm.switchTabs( 'F' )"><!--i class="fa fa-flask"></i--> Factores de Riesgo</a></li>
                <li class=""><a data-toggle="tab" href="#tab-5" ng-click="vm.switchTabs( 'AC' )"><!--i class="fa fa-flask"></i--> An&aacute;lisis Cuantitativo</a></li>
                <li class=""><a data-toggle="tab" href="#tab-6" ng-click="vm.switchTabs( 'C' )">Citas</a></li>
                <li class=""><a data-toggle="tab" href="#tab-7" ng-click="vm.switchTabs( 'AN' )">Analítica</a></li>
                <li class=""><a data-toggle="tab" href="#tab-8" ng-click="vm.switchTabs( 'PF' )">Pruebas funcionales</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div ng-if="vm.tabs.datos" id="tab-1" class="tab-pane active">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div data-datos-paciente data-paciente="vm.paciente"></div>
            </div>
        </div>
        <div ng-if="vm.tabs.enfisema" id="tab-2" class="tab-pane">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div data-enfisema-paciente data-paciente="vm.paciente"></div>
            </div>
        </div>
        <div ng-if="vm.tabs.nodulos" id="tab-3" class="tab-pane">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div data-nodulos-paciente data-paciente="vm.paciente"></div>
            </div>
        </div>
        <div ng-if="vm.tabs.factores" id="tab-4" class="tab-pane risk factors">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div data-factores-paciente data-paciente="vm.paciente"></div>
            </div>
        </div>
        <div ng-if="vm.tabs.analisisCuantitativo" id="tab-5" class="tab-pane risk factors">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div data-analisis-cuantitativo-paciente data-paciente="vm.paciente"></div>
            </div>
        </div>
        <div ng-if="vm.tabs.citas" id="tab-6" class="tab-pane risk factors">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div data-citas-list data-paciente="vm.paciente"></div>
            </div>
        </div>
        <div ng-if="vm.tabs.analitica" id="tab-7" class="tab-pane risk factors">
          <div class="wrapper wrapper-content animated fadeInRight">
            <div data-analitica-paciente data-paciente="vm.paciente"></div>
          </div>
        </div>
        <div ng-if="vm.tabs.pruebasFuncionales" id="tab-8" class="tab-pane risk factors">
          <div class="wrapper wrapper-content animated fadeInRight">
            <div data-pruebas-funcionales-paciente data-paciente="vm.paciente"></div>
          </div>
        </div>
    </div>
</section>
