<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Citas</h5>
                <div class="ibox-tools">
                    <!--a href="" class="btn btn-primary btn-xs">Nueva Alerta</a-->
                </div>
            </div>
            <div class="ibox-content">

                <div class="m-b-lg">

                    <div class="input-group">
                        <input type="text" 
                               placeholder="Buscar Alertas..." 
                               class=" form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-white"> Buscar</button>
                        </span>
                    </div>
                    <div class="m-t-md">
                        <p><strong>{{vm.citas.length}} Citas</strong></p>
                    </div>

                </div>

                <div class="table-responsive">
                <table class="table table-hover issue-tracker">
                    <tbody>
                    <tr ng-repeat="cita in vm.citas">
                        <td>
                            <span class="label label-danger">{{cita.resource.period.start}}</span>
                        </td>
                        <td class="issue-info">
                            <a href="#">
                                {{cita.resource.hospitalization.preAdmissionIdentifier.value}}
                            </a>
                            <small>
                                {{cita.resource.location[0].location.display}}
                            </small>
                        </td>
                        <td>
                            {{cita.resource.patient.display}}
                        </td>
                        <td>
                            {{cita.resource.period.start}}
                        </td>
                        <!--td>
                            <span class="label label-info">Pulmón</span>
                        </td-->                                    
                    </tr>

                    </tbody>
                </table>
                </div>
            </div>

        </div>
    </div>
</div>
